* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

ul, li {
  list-style: none;
}

@for $i from 1 through 5 {
  .mt-#{$i*10} {
    margin-top: $i * 10px;
  }
  .mb-#{$i*10} {
    margin-top: $i * 10px;
  }
  .ml-#{$i*10} {
    margin-top: $i * 10px;
  }
  .mr-#{$i*10} {
    margin-top: $i * 10px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #FFF;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background-color: #FFF;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background-color: #D5D5D5;
}